<!DOCTYPE HTML>
<html>
  

<body>
  
<div class = 'create-item'>
<form action='/user/register' method='POST'>
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="floatingInput" placeholder="upload product picture" name="image"></div>
   <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="First name" name="first_name">
  <label for="floatingInput">First Name</label>
</div>
   <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Last name" name="last_name">
  <label for="floatingInput">Last Name</label>
</div>
   <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="email" name="email">
  <label for="floatingInput">Email</label>
</div>
   <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Your Location" name="location">
  <label for="floatingInput">Address</label>
</div>
  <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" name="contact" placeholder="phone">
  <label for="floatingInput">Phone no.</label>
</div>
  <div class="form-floating mb-3">
  <textarea class="form-control" placeholder="Leave a description here" id="floatingTextarea" name="description" style = "height:150px"></textarea>
  <label for="floatingTextarea">Description</label>
   <div class="visible"> <input type="string" class=".d_none" name="role" value="customer"></div>
</div>
  <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" name="password" placeholder="Enter your password">
  <label for="floatingInput">Password</label>
</div>
<div>
  <input class="btn btn-primary pull-right " type="submit" value="Submit">
  </div>
  
</form>
</div>
<body>


  

  </body>
</html>